.coverage
.env
.env.*
!.env.example
.git
.github
.hypothesis
.idea
.mypy_cache
.pytest_cache
.ruff_cache
.tmp
.venv
.venvs
.vscode
assets/actor-packages
htmlcov
model-cache
workspaces
__pycache__
*.egg-info
*.py[cod]
build
dist
