.coverage
.cache/
.hypothesis/
.mypy_cache/
.pytest_cache/
.ruff_cache/
.tmp/
.venv/
.venvs/
htmlcov/
model-cache/
workspaces/*
!workspaces/README.md
*.egg-info/
__pycache__/
build/
dist/
*.ckpt
*.onnx
*.pt
*.pth
*.safetensors
