**
!apps/
!apps/server/
!apps/server/Cargo.toml
!apps/server/Cargo.lock
!apps/server/src/
!apps/server/src/**
!tools/
!apps/server/tooling/
!apps/server/tooling/Dockerfile
!tools/czech-ml/
!tools/czech-ml/vector-schema.sql
