* text=auto

.gitattributes text eol=lf
.gitignore text eol=lf
*.css text eol=lf
*.html text eol=lf
*.js text eol=lf
*.json text eol=lf
*.lock text eol=lf
*.md text eol=lf
*.mjs text eol=lf
*.rs text eol=lf
*.sh text eol=lf
*.svg text eol=lf
*.txt text eol=lf
*.toml text eol=lf
*.webmanifest text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
Dockerfile text eol=lf

*.ico binary
*.bin binary
*.db binary
*.jpg binary
*.jpeg binary
*.onnx binary
*.png binary
*.safetensors binary
*.sqlite binary
*.wasm binary
*.webp binary
